@import url("../lemney.css");
@import url("../navbar.css");


/* Side bar */
.account-management-sidebar {
    min-width: 280px !important;
}

/* Top Nav Tab/Pill */
.nav-pills .nav-link {
    background: none !important;
    color: rgba(0, 0, 0, 0.64);
}
.nav-pills .nav-link.active {
    color: black !important;
}
.nav-pills .nav-link:focus {
    box-shadow: none !important;
}

/* Breadcrumbs */
.breadcrumb {
    display: flex;
    align-items: center;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 21px;
    border: 1px solid black;
    background-image: url('data:image/svg+xml,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.29279 15.2069C7.10532 15.0194 7 14.7651 7 14.4999C7 14.2348 7.10532 13.9804 7.29279 13.7929L10.5858 10.4999L7.29279 7.20692C7.11063 7.01832 7.00983 6.76571 7.01211 6.50352C7.01439 6.24132 7.11956 5.99051 7.30497 5.8051C7.49038 5.61969 7.74119 5.51452 8.00339 5.51224C8.26558 5.50997 8.51818 5.61076 8.70679 5.79292L12.7068 9.79292C12.8943 9.98045 12.9996 10.2348 12.9996 10.4999C12.9996 10.7651 12.8943 11.0194 12.7068 11.2069L8.70679 15.2069C8.51926 15.3944 8.26495 15.4997 7.99979 15.4997C7.73462 15.4997 7.48031 15.3944 7.29279 15.2069Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.2928 15.1947C13.1053 15.0072 13 14.7529 13 14.4877C13 14.2225 13.1053 13.9682 13.2928 13.7807L16.5858 10.4877L13.2928 7.19471C13.1106 7.00611 13.0098 6.75351 13.0121 6.49131C13.0144 6.22911 13.1196 5.9783 13.305 5.79289C13.4904 5.60749 13.7412 5.50232 14.0034 5.50004C14.2656 5.49776 14.5182 5.59855 14.7068 5.78071L18.7068 9.78071C18.8943 9.96824 18.9996 10.2225 18.9996 10.4877C18.9996 10.7529 18.8943 11.0072 18.7068 11.1947L14.7068 15.1947C14.5193 15.3822 14.265 15.4875 13.9998 15.4875C13.7346 15.4875 13.4803 15.3822 13.2928 15.1947Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1.29279 15.1947C1.10532 15.0072 1 14.7529 1 14.4877C1 14.2225 1.10532 13.9682 1.29279 13.7807L4.58579 10.4877L1.29279 7.19471C1.11063 7.00611 1.00983 6.75351 1.01211 6.49131C1.01439 6.22911 1.11956 5.9783 1.30497 5.79289C1.49038 5.60749 1.74119 5.50232 2.00339 5.50004C2.26558 5.49776 2.51818 5.59855 2.70679 5.78071L6.70679 9.78071C6.89426 9.96824 6.99957 10.2225 6.99957 10.4877C6.99957 10.7529 6.89426 11.0072 6.70679 11.1947L2.70679 15.1947C2.51926 15.3822 2.26495 15.4875 1.99979 15.4875C1.73462 15.4875 1.48031 15.3822 1.29279 15.1947Z" fill="black"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}
  