@import url("./lemney.css");
@import url("./navbar.css");

.customer-swiper-slide {
    width: 360px;
}

.customer-swiper-slide-next,
.customer-swiper-slide-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    margin: 0;
}

.customer-swiper-slide-next {
    right: 10px;
}

.customer-swiper-slide-prev {
    left: 10px;
}

.customer-swiper-slide-next > button,
.customer-swiper-slide-prev > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}